html {
  background: linear-gradient(130deg, #bd63f1 0%, #71c4ff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}